@media (min-width: 768px) {
  .d-d {
    display: block;
  }
  .d-m {
    display: none;
  }
}
@media (max-width: 767px) {
  .d-d {
    display: none;
  }
  .d-m {
    display: block;
  }
  .d-m-inline {
    display: inline !important;
  }
}
